* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100vh;
}

input {
    padding: 1em;
    border-radius: 0.5em;
    border: none;
}

button {
    cursor: pointer;
    padding: 0.75em 1.25em;
    border: none;
    border-radius: 0.5em;
    margin: 1em 0;
    font-weight: 600;
    font-size: 1rem;
}

table {
    width: 60%;
    font-size: 1.25rem;
    text-align: left;
    border-collapse: collapse;
    margin: 1em;

    button {
        background: #009879;
        color: #fff;
    }

    thead {
        th {
            padding: 0.75em;
            background: #009879;
            color: #fff;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #dddddd;
            &:nth-of-type(even) {
                background: #f3f3f3;
            }
            &:last-of-type {
                border-bottom: 2px solid #009879;
            }
        }
        td {
            padding: 0 0.75em;
        }
    }
}
